$siteColorPrimary: #FF530D;
$siteColorSecondary: #4d7494;
$colorHighlight: #72FF26;
$siteColorDiscrete: grey;

//screen sizes
$desktop: 1200px;
$tablet: 1000px;
$mobile: 480px;

//font
$fontFamily: 'Open Sans Condensed', sans-serif;

//font size
$baseFontSize: 20px;
$h1FontSize: 30px;
$h1FontSizeMobile: 24px;
$h2FontSize: 24px;
$h2FontSizeMobile: 18px;



//mixin
@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    -ms-transition: $transition;
    transition: $transition;
}

@mixin boxShadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin boxSizing($sizing) {
    -webkit-box-sizing: $sizing;
    -moz-box-sizing: $sizing;
    box-sizing: $sizing;
}

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        clear: both;
        display: table;
    }
}

@mixin sectionVisible() {
    opacity: 1;
    pointer-events: all;
}

@mixin sectionHidden() {
    opacity: 0;
    pointer-events: none;
}


//placeholders
%transition-opacity {
    @include transition(opacity 0.4s ease-in);
}