@import "../Common/global.scss";
@import "./header.scss";
@import "./movies.scss";
@import "../Features/infinite-scrolling.scss";

body {
	width: 100%;
    display: block;
    margin: 0;
    font-family: $fontFamily;
    &.search {
    	.search__clear-button {
			@include sectionVisible();
		}
    }
}

%header-style {
	margin: 0 4px;
	color: white;
	font-weight: 100;
	letter-spacing: 1px;
}

.heading {
	@extend %header-style;
	font-size: $h1FontSize;

	span {
		font-size: $h1FontSize - 4px;
	}
}


.sub-heading {
	@extend %header-style;
	font-size: $h2FontSize;
}



.container {
	width: 100%;
	max-width: $desktop;
	display: block;
	padding: 10px 0;
	position: relative;
	@include boxSizing(border-box);
	margin: 150px auto 100px auto;
}

.search-container {
	display: inline-block;
	width: 100%;
	height: 38px;
	position: relative;
	top: 14px;
	@include clearfix();
}

.search__input {
    float: left;
    padding: 2px 6px;
    border-radius: 20px;
    outline: none;
    position: relative;
    text-indent: 4px;
    @include boxSizing(border-box);
    font-family: $fontFamily;
    width: calc(100% - 36px);
    font-size: $baseFontSize;
    border: 1px solid lighten($siteColorPrimary, 30%);
}

.search__clear-button {
	border: none;
	background-color: lighten($siteColorPrimary, 20%);
	font-family: $fontFamily;
    padding: 10px;
    font-size: $baseFontSize;
    display: block;
    float: right;
    position: relative;
    top: 2px;
    line-height: 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    @include sectionHidden();
	@extend %transition-opacity;
    
}


@media (min-width: $mobile + 1) {
	.sub-heading {
		display: inline-block;
	}

	.search-container {
		max-width: 200px;
	}
}

@media (max-width: $mobile) {

	.heading {
		font-size: $h1FontSizeMobile;

		span {
			font-size: $h1FontSizeMobile - 4px;
		}
	}

	.search-container {
		top: initial;
		margin-top: 10px;
	}

	.sub-heading {
		font-size: $h2FontSizeMobile;
	}

}